[data-semana]::after{
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    color: #000;
    margin-left: 4px;
    border: 1px solid #000;
}

[data-semana].aberto::after{
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    background: #3F4;
    border-radius: 50%;
    color: #000;
    margin-left: 4px;
    border: 1px solid #000;
}